#frontpage {
    padding-left: 100px;
    background-color: beige;
    
}

#about {
    text-align: center;
    background-color: rgb(223, 194, 184);
    padding-bottom: 5px;
}

#front-grid {
    display: grid;
    grid-template-columns: auto auto;
    
    
}

#image {
    border-radius: 50%;
    opacity: 0.9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
    padding-bottom: 30px;
    padding-top: 30px;
}

#image-connect {
    border-radius: 30%;
    opacity: 0.9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
    padding-bottom: 30px;
    padding-top: 30px;
}

